{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/admin/css/bootstrap.css' %}" crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<body>
    {%  block content %}
    {%  endblock content %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static '/admin/crud/js/jquery.js' %}" crossorigin="anonymous">
    </script>
    <script src="{% static '/admin/crud/js/popper.js' %}" crossorigin="anonymous">
    </script>
    <script src="{% static '/admin/crud/js/bootstrap.css' %}" crossorigin="anonymous">
    </script>
</body>

</html>