{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <center>
            <img src="{% static '/crud/img/profil.JPG' %}"
                style="width: 200px; border-radius: 10px; box-shadow: 5px 5px 5px; margin-bottom: 20px;" alt="">
            <h1 class="display-4">Hello, Kang !</h1>
            <h1>User</h1>
            {% for u in user %}
            <h1>{{u.name}}</h1>
            {% endfor %}
            <a href="about">Pergi ke about</a>
        </center>
        <hr class="my-4">
        <a href="{% url 'logout' %}">LOGOUT</a>
    </div>
</div>
{% endblock content %}